@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,700');

// Glyphicons

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/glyphicons-halflings-regular.woff2') format('woff2'),
  url('fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 300;
//  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/google/roboto-light.woff) format('woff');
//}
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/google/roboto-regular.woff) format('woff');
//}
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 500;
//  src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/google/roboto-medium.woff) format('woff');
//}
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/google/roboto-bold.woff) format('woff');
//}
//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 900;
//  src: local('Roboto Black'), local('Roboto-Black'), url(fonts/google/roboto-black.woff) format('woff');
//}
//@font-face {
//  font-family: 'Roboto';
//  font-style: italic;
//  font-weight: 400;
//  src: local('Roboto Italic'), local('Roboto-Italic'), url(fonts/google/roboto-italic.woff) format('woff');
//}