/*
 * bootstrap-select
 */

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"] {
  margin-bottom: 0;
}

/**
 * Select2
 */

.select2-drop{
  @include border-radius(0 0 $border-radius-base $border-radius-base);
}

/**
 * Select2 Bootstrap CSS
 */
/*
 * override .form-control:focus shadow
 */
.select2-container-active .select2-choice,
.select2-container-multi.select2-container-active .select2-choices{
  @include box-shadow(none);
}

.select2-container-multi .select2-choices .select2-search-choice{
  @include border-radius($border-radius-base);
}

/**
 * setting correct urls
 */
.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice .select2-arrow b{
  background-image: url("#{$vendor-folder}/select2/select2.png");
  @include retina(){
    background-image: url("#{$vendor-folder}/select2/select2x2.png") !important;
  }
}

.select2-search input.select2-active,
.select2-more-results.select2-active,
.select2-container-multi .select2-choices .select2-search-field input.select2-active{
  background-image: url("#{$vendor-folder}/select2/select2-spinner.gif");
}

/**
 * Switchery.
 */

.switchery{
  @include box-sizing(content-box);
  margin-left: -20px;
}

/**
 * Datetimepicker for Bootstrap v3
 */
.bootstrap-datetimepicker-widget
{
  border-radius: $border-radius-base;

  td,
  th
  {
    border-radius: $border-radius-base;
  }

  td
  {
    &.day:hover,
    &.hour:hover,
    &.minute:hover,
    &.second:hover
    {
      background: $gray-lighter;
    }

    &.old,
    &.new
    {
      color: $gray-light;
    }

    &.active,
    &.active:hover
    {
      background-color: $btn-primary-bg;
      text-shadow: none;
    }

    &.disabled,
    &.disabled:hover
    {
      color: $gray-light;
    }

    span
    {
      border-radius: $border-radius-base;

      &:hover
      {
        background: $gray-lighter;
      }

      &.active
      {
        background-color: $btn-primary-bg;
      }

      &.old
      {
        color: $gray-light;
      }

      &.disabled,
      &.disabled:hover
      {
        color: $gray-light;
      }
    }
  }
  th
  {
    &.next,
    &.prev
    {
      font-size: $font-size-base * 1.5;
    }
    &.disabled,
    &.disabled:hover
    {
      color: $gray-light;
    }
  }
  thead tr:first-child th
  {
    &:hover
    {
      background: $gray-lighter;
    }
  }
}

/**
 * Bootstrap Colorpicker
 * setting correct urls
 */

.colorpicker-saturation {
  background-image: url("#{$vendor-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/saturation.png");;
}

.colorpicker-hue {
  background-image: url("#{$vendor-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/hue.png");
}

.colorpicker-alpha,
.colorpicker-color {
  background-image: url("#{$vendor-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/alpha.png");
}

.colorpicker.colorpicker-horizontal .colorpicker-hue {
  background-image: url("#{$vendor-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/hue-horizontal.png");
}

.colorpicker.colorpicker-horizontal .colorpicker-alpha {
  background-image: url("#{$vendor-folder}/mjolnic-bootstrap-colorpicker/dist/img/bootstrap-colorpicker/alpha-horizontal.png");
}


/**
 * Jasny Bootstrap
 * Fileinput.less
 */


.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 0 $border-radius-base $border-radius-base 0;

  &.btn-xs,
  &.btn-sm {
    border-radius: 0 $border-radius-small $border-radius-small 0;
  }
  &.btn-lg {
    border-radius: 0 $border-radius-large $border-radius-large 0;
  }
}

.form-group.has-warning .fileinput {
  .fileinput-preview {
    color: $state-warning-text;
  }
  .thumbnail {
    border-color: $state-warning-border;
  }
}
.form-group.has-error .fileinput {
  .fileinput-preview {
    color: $state-danger-text;
  }
  .thumbnail {
    border-color: $state-danger-border;
  }
}
.form-group.has-success .fileinput {
  .fileinput-preview {
    color: $state-success-text;
  }
  .thumbnail {
    border-color: $state-success-border;
  }
}


/**
 * Dropzone
 */

.dropzone{
  @include border-radius($border-radius-base);
}

/**
 * Set correct urls
 */
.dropzone .dz-default.dz-message,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload{
  background-image: url("#{$vendor-folder}/dropzone/downloads/images/spritemap.png");
  @include retina{
    background-image: url("#{$vendor-folder}/dropzone/downloads/images/spritemap@2x.png");
  }
}

/**
 * Mapael
 */

.mapTooltip {
  position : fixed;
  padding : 2px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  background-color : #fff;
  border: 1px solid #ccc;
  border-radius: $border-radius-base;
  font-size: $font-size-small;
  color: $text-color;
}

.zoomIn, .zoomOut {
  position: absolute;
  bottom: 10px;
  left : 10px;
  width: 20px;
  height: 20px;

  @include box-sizing(content-box);
  border: 1px solid #ccc;
  background-color: #fff;
  color: $text-color;
  line-height: 20px;
  text-align: center;
  border-radius: $border-radius-base;
  cursor: pointer;
  font-weight: $font-weight-bold;

  @include user-select(none);
}

.zoomOut {
  left: 36px;

}

.mapael{
  position: relative;
  margin: (-$widget-padding-vertical) (-$widget-padding-horizontal) 0;
  .map {
    position:relative;
  }
  .stats{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 5% 10%;
  }
}

/**
 * nvd3
 */
.nvtooltip {
  padding: $padding-small-vertical $padding-small-horizontal;
  font-family: $font-family-base;
  font-size: $font-size-small;
  text-align: center;

  p{
    margin: 0;
    padding: 0;
  }
}

svg text {
  font: $font-weight-base $font-size-small $font-family-base;
  fill: $text-color;
}

svg .title {
  font: $font-weight-bold $font-size-base $font-family-base;
}

.nvd3.nv-noData {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.nvd3 .nv-axis path.domain {
  stroke-opacity: 0;
}

/**
 * Animate.css
 */

.animated{
  @include animation-duration(.5s);
}