/***********************************/
/**            UTILS              **/
/***********************************/

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.no-margin {
  margin: 0 !important;
}

.margin-top-one{
  margin-top: $line-height-computed;
}

.rotate-45 {
  @include rotate(45deg);
}

.rotate-135 {
  @include rotate(135deg);
}

.rotate-225 {
  @include rotate(225deg);
}

.rotate-315 {
  @include rotate(315deg);
}

.bg-primary{
  background-color: $brand-primary;
}

.bg-success{
  background-color: $brand-success;
}

.bg-info{
  background-color: $brand-info;
}

.bg-warning{
  background-color: $brand-warning;
}

.bg-danger{
  background-color: $brand-danger;
}

.bg-body{
  background-color: $body-bg;
}

.bg-body-light{
  background-color: lighten($body-bg, 3%);
}

.text-white{
  color: $white !important;
}

.text-light{
  opacity: .8;
}

.font-semi-bold{
  font-weight: $font-weight-semi-bold;
}

.font-normal{
  font-weight: $font-weight-normal;
}

.font-bold{
  font-weight: $font-weight-bold;
}

/* small + .text-muted*/
.deemphasize{
  font-size: 85%;
  color: $text-muted;
}

/* .h* + .font-bold */
$font-sizes: $font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4, $font-size-h5, $font-size-h6;
$i: 1;
@each $font-size in $font-sizes{

  .value#{$i}{
    margin: 0;
    font-size: $font-size;
    font-weight: $font-weight-bold;
  }
  $i: $i + 1;
}