/***********************************/
/**            UTILS              **/
/***********************************/

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.no-margin {
  margin: 0 !important;
}

.margin-top-one{
  margin-top: $line-height-computed;
}

.rotate-45 {
  @include rotate(45deg);
}

.rotate-135 {
  @include rotate(135deg);
}

.rotate-225 {
  @include rotate(225deg);
}

.rotate-315 {
  @include rotate(315deg);
}

//override bs .text-* classes so they use $brand-* variables

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $brand-info);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);

//copy bg classes after bootstrap so it's possible to overload other bootstrap classes

@include bg-variant('.bg-primary', $brand-primary);
@include bg-variant('.bg-success', $state-success-bg);
@include bg-variant('.bg-info', $state-info-bg);
@include bg-variant('.bg-warning', $state-warning-bg);
@include bg-variant('.bg-danger', $state-danger-bg);

@include bg-variant('.bg-body', $body-bg);
@include bg-variant('.bg-body-light', lighten($body-bg, 3%));
@include bg-variant('.bg-gray', $gray);
@include bg-variant('.bg-gray-transparent', rgba($gray, .6));
@include bg-variant('.bg-transparent', rgba(0,0,0,0));

.bg-body, .bg-body-light, .bg-gray, .bg-gray-transparent, .bg-transparent,
.bg-primary, .bg-success, .bg-warning, .bg-danger, .bg-info{
  @include transition(background-color .15s ease-in-out);
}

@include text-emphasis-variant('.text-white', $white);


.text-light{
  opacity: .8;
}

.font-semi-bold{
  font-weight: $font-weight-semi-bold;
}

.font-normal{
  font-weight: $font-weight-normal;
}

.font-bold{
  font-weight: $font-weight-bold;
}

/* small + .text-muted*/
.deemphasize{
  font-size: $font-size-smaller;
  color: $text-muted;
}

/* .h* + .font-bold */
$font-sizes: $font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4, $font-size-h5, $font-size-h6;
$i: 1;
@each $font-size in $font-sizes{

  .value#{$i}{
    margin: 0;
    font-size: $font-size;
    font-weight: $font-weight-bold;
  }
  $i: $i + 1;
}

.help{
  font-size: $font-size-smaller;
  color: $text-muted;
}

.transition-height{
  @include transition(height .15s ease-in-out);
}