// Sing variables
// -------------------------
// -------------------------

// Colors
// ------------------------

$white: #fff;
$black: #000;


$sidebar-bg-color: #242424;
$sidebar-color: #aaa;
$sidebar-item-border-color: #2d2d2d;
$sidebar-item-active-color: #ffc427;
$sidebar-item-hover-bg-color: #111;

// Typography
// -------------------------

$font-weight-bold: 700;
$font-weight-thin: 300;
$font-weight-base: $font-weight-thin;

$link-color: #218BC3;

// Layout
// -------------------------
$sidebar-width: 200px;
$sidebar-icon-state-width: 50px;

$sidebar-transition-time: .3s;

// Screens
// -------------------------

$screen-md-height: 670px;

// Widgets
// -------------------------
$widget-bg-color: $white;


// Bootstrap variables
// ------------------------
// ------------------------

//== Scaffolding
//
$body-bg: #f6f6f6;

// Typography
// -------------------------

$font-family-sans-serif: 'Open Sans', sans-serif;

$headings-font-weight: 300;

//== Navbar
//

$navbar-margin-bottom:             0;
$navbar-border-radius:             0;

$navbar-default-bg:                $white !default;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text: #8bdb63 !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text: #fb6d5d !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//-- Iconography
//

$icon-font-path: "../vendor/bootstrap-sass/vendor/assets/fonts/bootstrap/" !default;

// Font Awesome variables
// ------------------------
// ------------------------

$fa-font-path: "../vendor/font-awesome/fonts" !default;