/***********************/
/*                     */
/*   Custom Widgets    */
/*                     */
/***********************/


/***********************/
/*     Chart Simple    */
/***********************/

.widget-chart-simple{
  padding: 30px 40px 20px;

  .widget-body{
    padding-top: 10px;
  }

  .chart-title{
    color: $text-muted;
    text-align: center;
  }

  .chart-value{
    .trend{
      display: inline-block;
      margin: -6px 6px 0 -19px;
      overflow: visible;
      font-size: 21px;
      vertical-align: middle;
    }

    text-align: center;
    font-size: $font-size-h1;
  }

  .chart{
    margin-top: 20px;
  }
}

.jqstooltip{
  @include box-sizing(content-box);
}

/***********************/
/*    Chart Changes    */
/***********************/

.widget-chart-changes{
  .chart{
    margin: -$widget-padding-vertical (-$widget-padding-horizontal) 0;
    padding: $widget-padding-vertical 0 0;
  }

  .chart-title{
    margin: $line-height-computed 0 0;
  }

  .chart-value, .chart-value-change{
    padding: 0 $widget-padding-horizontal;
  }

  .chart-value{
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    font-size: $font-size-h4 + 3;
    line-height: 1;
    color: $white;
  }

  .chart-value-change{
    color: rgba($white, .7);
    font-size: $font-size-smaller;
  }
}

/***********************/
/*  Chart Stats Simple */
/***********************/

.widget-chart-stats-simple{
  > header{
    #{headings()}{
      margin-bottom: $line-height-computed/4;
    }
  }

  .chart{
    height: 260px;
    margin: $line-height-computed/2 (-$widget-padding-horizontal) (-$widget-padding-vertical);
    > .chart-inner{
      height: 100%;
    }
  }
}

/***********************/
/*      Big Chart      */
/***********************/

.widget-big-chart{
  .chart{
    height: 200px;
  }
}

/***********************/
/*  Part:Chart Stats   */
/***********************/

.chart-stats{
  border-top: 1px solid $gray-lighter;
}

/***********************/
/* Part:Progress Stats */
/***********************/

.progress-stats{
  .name{
    margin-bottom: 2px;
  }
  .description{
    margin-bottom: 2px;
  }
  .status{
    margin-top: 15px;
  }

  @media (max-width: $screen-md-max) {
    .description + .progress{
      margin-bottom: 0;
    }
  }
}

/***********************/
/*    Part:Stats Row   */
/***********************/

.stats-row{
  margin-bottom: 15px;
}

.stat-item{
  display: inline-block;
  padding-right: 15px;

  & + .stat-item{
    padding-left: 15px;
    border-left: 1px solid $hr-border;
  }
  .name{
    margin-bottom: 2px;
  }
  .value{
    font-weight: bold;
  }
}


/***********************/
/*  Part:Map Controls  */
/***********************/

.map-controls{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $gray-dark;

  > li > a{
    padding-left: 0;
    padding-right: 0;

    color: $gray-lighter;
    &:hover{
      background-color: $gray;
      color: $white
    }
  }

  > li.active > a{
    &, &:hover{
      background-color: $gray;
      color: $brand-warning;
      font-weight: $font-weight-bold;
    }
  }
}

/***********************************/
/**          NEWS LIST           **/
/**********************************/
/**
 * Legacy .users-list. Will be removed in next release.
 */

.news-list{
  margin-bottom: 0;
  padding-left: 0;

  li{
    list-style: none;
    @include box-sizing(content-box);
    border-top: 1px solid $gray-lighter;
    padding: 12px;
    cursor: pointer;
    @include transition(background-color .2s ease-out);

    &:hover{
      background: $body-bg-light;
    }

    &:last-child{
      margin-bottom: -10px;
    }
  }

  img,
  .icon{
    float: left;
    height: 50px;
    width: 50px;
  }

  .icon{
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
  }

  .news-item-info{
    margin-left: 62px; /*50 + 12px padding*/
  }

  .name{
    text-transform: uppercase;

    a{
      text-decoration: none;
      &:hover{
        color: $link-color;
      }
    }
  }
}