
/**
* if set to device-width ie10 built-in scrollbar overflows content. Fix it as of here
* http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that-might-be-bootstrap
*/
@-ms-viewport{
  width: auto;
}

html, body{
  height: 100%;
}

html {
  font-size: $font-size-initial;
}

body{
  color: #f8f8f8;
  font-weight: 300;
  padding-bottom: 100px;
  padding-top: 15px;
  background-color: #414e60 20%;
  background-image: url(../img/bg-pattern.svg), radial-gradient(farthest-side ellipse at 10% 0, #414e60 20%, #94a3b1);
  background-image: url(../img/bg-pattern.svg), -webkit-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
  background-image: url(../img/bg-pattern.svg), -moz-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
  background-size: cover;
  background-attachment: fixed, fixed;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.428571429;
}

th{
  font-weight: $font-weight-semi-bold;
}

b, strong {
  font-weight: $font-weight-semi-bold;
}

p{
  margin: 0 0 9px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 18px;
  margin-bottom: 9px;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 9px;
  margin-bottom: 9px;
}

h1{
  font-size: 35.75px;
}

h2{
  font-size: 29.25px;
}

h3{
  font-size: 22.75px;
}

h4{
  font-size: 16.25px;
}

h5{
  font-size: 13px;
}

h6{
  font-size: 11.05px;
}