
/**
* if set to device-width ie10 built-in scrollbar overflows content. Fix it as of here
* http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that-might-be-bootstrap
*/
@-ms-viewport{
  width: auto;
}

html, body{
  height: 100%;
}

html {
  font-size: $font-size-initial;
}

body{
  font-weight: $font-weight-base;
  padding-bottom: 100px;
  overflow-x: hidden;
  @include background-radial-gradient(ellipse, farthest-side, 10%, 0,
          $bg-gradient-color-1 20%, $bg-gradient-color-2
  );
}
h1,h2,h3,h4,h5,h6{
  font-weight: $font-weight-base;

  small{
    color: $text-muted;
    font-weight: $font-weight-base;
  }
}
ul ul,
ol ul{
  list-style: none;
}

ul, ol{
  list-style: none;
  padding: 0;
}
th{
  font-weight: $font-weight-semi-bold;
}

b, strong {
  font-weight: $font-weight-semi-bold;
}
form{
  margin-bottom: 0;
}

a{
  @include transition(color .2s);
}

.btn{
  @include transition(background-color .2s);
}

svg {
  height: 100%;
  width: 100%;
  display: block;
}

table{
  color: $body-color !important;
}
