{{#extend "layout" title="Sing App Dashboard - Profile"}}
  {{#content "sidebar"}}
    {{> sidebar active="chat"}}
  {{/content}}
  {{#content "content" mode="replace"}}
      <div class="chat-page">
        <div class="chat-list-section">
        <section class="chat-section">
            <div class="form-group mb-0">
                <div class="input-group input-group-no-border">
                    <input class="form-control" type="text" placeholder="Search">
                    <span class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-search"></i>
                        </span>
                    </span>
                </div>
            </div>
        </section>
        <section class="chat-section group-chats d-none d-lg-block">
            <h5>Group Chats</h5>
            <ul class="chat-list">
                <li class="chat-list-item active">
                    <div class="chat-list-item-wrapper">
                        <ul class="avatars-column">
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="../img/chat/avatars/1.png">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="/sing-app-vue/img/1.84c4eb88.png">
                                    </div>
                                </div>
                            </li><li>
                            <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                    <img src="/sing-app-vue/img/7.c426d3cc.png">
                                </div>
                            </div>
                        </li>
                        </ul>
                        <section class="chat-item-main">
                            <header class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="chat-title">
                                    <img src="/sing-app-vue/img/people.46f10935.svg" class="group-chat-icon mr-1">
                Light Blue Group
                <span class="ml-1">(6)</span></h6>
                                <span class="ml-auto timestamp">
          1 Mar
        </span></header>
                            <p class="chat-last-message"><span class="owner-indicator mr-1">
          You:
        </span>
                Guys did you see the new update of the Sing App from our competitors?
            </p>
                        </section>
                    </div>
                </li>
                <li class="chat-list-item">
                    <div class="chat-list-item-wrapper">
                        <ul class="avatars-column">
                            <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                    <img src="/sing-app-vue/img/7.c426d3cc.png">
                                </div>
                            </div>
                            </li>
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="/sing-app-vue/img/3.56cb9e3d.png">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="/sing-app-vue/img/2.8f79219a.png">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <section class="chat-item-main">
                            <header class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="chat-title">
                                    <img src="/sing-app-vue/img/people.46f10935.svg" class="group-chat-icon mr-1">
                React Native
                <span class="ml-1">(3)</span>
                                </h6>
                                <span class="ml-auto timestamp">
          0 Mar
        </span>
                            </header>
                            <p class="chat-last-message">
                                <span class="owner-indicator mr-1">
          Jane:
        </span>
                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
            </p>
                        </section>
                    </div>
                </li>
                <li class="chat-list-item">
                    <div class="chat-list-item-wrapper">
                        <ul class="avatars-column">
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="/sing-app-vue/img/7.c426d3cc.png">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="/sing-app-vue/img/3.56cb9e3d.png">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="avatar mr-3" style="height: 35px; width: 35px; min-width: 35px;">
                                    <div class="image-wrapper stroke" style="font-size: 11.6667px;">
                                        <img src="/sing-app-vue/img/2.8f79219a.png">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <section class="chat-item-main">
                            <header class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="chat-title">
                                    <img src="/sing-app-vue/img/people.46f10935.svg" class="group-chat-icon mr-1">
                Common
                <span class="ml-1">(3)</span>
                                </h6>
                                <span class="ml-auto timestamp">
          0 Mar
        </span>
                            </header>
                            <p class="chat-last-message">
                                <span class="owner-indicator mr-1">
          Jane:
        </span>
                Hi, @Darrell. It's too easy. I can explain it too you if you have some minutes.
            </p>
                        </section>
                    </div>
                </li>
            </ul>
        </section>
        <section class="chat-section personal-chats mb-0 d-none d-lg-block">

        </section>
        </div>
        <div class="chat-dialog-section d-flex flex-column">

        </div>
        <div class="chat-info-section">

        </div>
    </div>
  {{/content}}
{{/extend}}