{{#extend "layout" title="Sing App - Landing" extraBodyClass="landing" contentClass="landing-container" wrapperClass="landing-wrapper"}} 
  {{#content "sidebar" mode="replace"}}{{/content}} 
  {{#content "navbar" mode="replace"}}
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="#">Sing app</a>
                <button class="navbar-toggler hamburger" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-warning la la-bars la-2x"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav justify-content-end">
                        <li class="nav-item"><a class="nav-link" href="#versions">Versions</a></li>
                        <li class="nav-item"><a class="nav-link" href="#integration">Integration</a></li>
                        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contacts">Contacts</a></li>
                    </div>
                </div>
            </nav>
        </div>
    </header>
  {{/content}} 
  {{#content "chat" mode="replace"}}{{/content}} 
  {{#content "content" mode="replace"}} 
    <section class="section main">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h1 class="text-left mb-xlg"><span>Sing</span> App</h1>
                        <p class="mb-xlg">Get ready for Javascript Revolution. We are here to 
                            build your next-generation web and mobile applications.</p>
                        <a class="btn btn-warning btn-rounded-f btn-xlg text-white mb" href="#" role="button">
                            Purchase
                        </a>
                        <a class="btn btn-primary btn-rounded-f btn-outline-primary btn-xlg" href="#" role="button">
                            <img src="../img/landing/github.svg" alt="github"> Download <span class="text-warning">FREE</span>
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <img class="main-photo" src="../img/landing/header.svg" alt="demo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section versions" id="versions">
        <div class="container">
            <div class="text-center">
                <h3 class="section-title mb">Available in Many Versions</h3>
                <h4 class="sub-title mb-xlg">Sed ut perspiciatis unde omnis natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.svg" alt="demo"></div>
                        <div class="img-content">
                            <a href="#" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="desktop"> Demo</a>
                            <a href="#" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="desktop"> Buy</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <span><i class="mr text-primary fa fa-gift fa-2x"></i> Title</span>
                        <span class="text-primary">$42.95</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.svg" alt="demo"></div>
                        <div class="img-content">
                            <a href="#" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="desktop"> Demo</a>
                            <a href="#" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="desktop"> Buy</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <span><img class="icon mr" src="../img/landing/angular.svg" alt="html"> Angular</span>
                        <span class="text-primary">$42.95</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.svg" alt="demo"></div>
                        <div class="img-content">
                            <a href="#" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="desktop"> Demo</a>
                            <a href="#" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="desktop"> Buy</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <span><img class="icon mr" src="../img/landing/react.svg" alt="html"> React</span>
                        <span class="text-primary">$42.95</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.svg" alt="demo"></div>
                        <div class="img-content">
                            <a href="#" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="desktop"> Demo</a>
                            <a href="#" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="desktop"> Buy</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <span><img class="icon mr" src="../img/landing/angularjs.svg" alt="html"> Angular JS</span>
                        <span class="text-primary">$42.95</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper">
                       <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.svg" alt="demo"></div>
                        <div class="img-content">
                            <a href="#" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="desktop"> Demo</a>
                            <a href="#" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="desktop"> Buy</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <span><img class="icon mr" src="../img/landing/rails.svg" alt="html"> Rails</span>
                        <span class="text-primary">$42.95</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.svg" alt="demo"></div>
                        <div class="img-content">
                            <a href="#" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="desktop"> Demo</a>
                            <a href="#" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="desktop"> Buy</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <span><img class="icon mr" src="../img/landing/html.svg" alt="html"> HTML</span>
                        <span class="text-primary">$42.95</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section integration" id="integration">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1">
                    <h3 class="section-title mb">Integration</h3>
                    <h4 class="sub-title mb-xlg">Sing app is a part of a solution provided by <a class="text-warning" href="https://flatlogic.com" target="_blank">Flatlogic</a></h4>
                </div>
                <div class="col-lg-6 offset-md-1">
                    <div class="text-left">
                        <p class="lead">We can connect admin dashboard with such systems as your accountign software, your custorem relationship 
                            management (CRM) system, your email system, your website analytics program, etc. 
                            Integration pulls all this information into one place so you don't have to log into multiple systems.</p>
                    </div>
                    <a href="#" class="btn btn-xlg btn-rounded-f btn-warning text-white">Learn More</a>
                </div>
                <div class="col-xs-8 offset-xs-2 col-lg-5 offset-md-0">
                    <div class="scheme">
                        <img class="img-fluid" src="../img/landing/Integration_scheme.svg" alt="mobile">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section features" id="features">
        <div class="container">
            <div class="row">
                <div class="offset-xs-1 col-lg-6 offset-md-1">
                    <h3 class="section-title mb-xlg">Feature List</h3>
                    <ul class="features-list">
                        <li>Revolutionary Sidebar</li>
                        <li>Fully Responsive</li>
                        <li>8 Charts Library</li>
                        <li>2 Dashboards</li>
                        <li>Inbox Page</li>
                        <li>Profile Page</li>
                        <li>Advanced Forms</li>
                        <li>Chat Application</li>
                        <li>Static & Hoves Sidebar</li>
                    </ul>
                </div>
                <div class="col-xs-8 offset-xs-2 col-lg-5 offset-md-0">
                    <div class="text-center">
                        <img class="mobile img-fluid" src="../img/landing/featureList_mobile.png" alt="mobile">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section testimonials" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1">
                    <h3 class="section-title mb-xlg">Testimonials</h3>
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="card">
                                <img class="comma" src="../img/landing/comma.svg" alt="comma">
                                <div class="photo" style="background-image: url(../img/landing/photo.jpg)"></div>
                                <h4 class="name">Jane Doe</h4>
                                <h4 class="mt-sm text-muted text-center">Managing Director IT & Strategy <br> MenschDanke GmbH</h4>
                                <p class="mt-lg">We have been working with Flatlogic for 6 months now and couldn't be 
                                    happier. Weth the best intention in mind for customers needs, they seemlessly adapted 
                                    our workflow and were quick to collaborate with our existing decs much more like an 
                                    internal team than a group of remote developers.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img class="comma" src="../img/landing/comma.svg" alt="comma">
                                <div class="photo" style="background-image: url(../img/landing/photo.jpg)"></div>
                                <h4 class="name">Jane Doe</h4>
                                <h4 class="mt-sm text-muted text-center">Software Engineer</h4>
                                <p class="mt-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. At modi et, delectus provident voluptas 
                                    culpa dolor inventore esse facere, neque quidem ad libero quo quasi. Ducimus fugit eius pariatur excepturi 
                                    nostrum ex animi veniam id quasi repudiandae deleniti eum, dolor ea quae reiciendis quibusdam vel magnam velit 
                                    suscipit alias. Maiores beatae aspernatur optio nulla cupiditate!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img class="comma" src="../img/landing/comma.svg" alt="comma">
                                <div class="photo" style="background-image: url(../img/landing/photo.jpg)"></div>
                                <h4 class="name">Jane Doe</h4>
                                <h4 class="mt-sm text-muted text-center">Managing Director IT & Strategy <br> MenschDanke GmbH</h4>
                                <p class="mt-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, ad 
                                    voluptas sit magnam, perspiciatis error quisquam ullam veritatis, ratione assumenda aut 
                                    voluptate molestiae beatae libero iure. Omnis sed, ratione neque repellendus, unde quia 
                                    voluptatibus vel earum aliquid quam blanditiis quae? Sit laudantium odio alias adipisci 
                                    odit debitis voluptatem porro dolores!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  {{/content}} 
  {{#content "footer" mode="replace"}} 
    <footer class="footer" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-md-first order-lg-2">
                    <ul class="nav footer-nav footer-nav-primary">
                        <li><a href="#versions">Versions</a></li>
                        <li><a href="#integration">Integration</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#contacts">Contacts</a></li>
                    </ul>
                    <form class="footer-form" action="//flatlogic.us10.list-manage.com/subscribe/post?u=53ab0508ca96dfb8152b1aa38&amp;id=8bf05b967a"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <p>Be first to know latest updates on our products and recent trends in React Native development. </p>
                        <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control input-lg" name="EMAIL" id="email" placeholder="your-email@flatlogic.com">
                            <span class="input-group-btn">
                            <button class="btn btn-lg btn-primary" type="submit">&nbsp;Sign Up&nbsp;</button>
                            </span>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-6 order-lg-1 order-sm-1">
                    <section class="company-info">
                        <h5>Flatlogic, LLC & Gaykov Joint Ventures</h5>
                        <p></p>
                        <p>220004, Minsk, <br> Republic of Belarus</p>
                        <p>vulica Amuratarskaja 4 - 409</p>
                        <p>+1 (650) 265-0317</p>
                    </section>
                </div>
                <div class="col-lg-3 col-md-6 order-lg-3 order-sm-2">
                    <ul class="nav footer-nav footer-nav-secondary visible-lg">
                        <li><a href="https://twitter.com/flatlogic" target="_blank">Support</a></li>
                        <li><a href="https://twitter.com/flatlogic" target="_blank">News</a></li>
                        <li><a href="https://twitter.com/flatlogic">Events</a></li>
                    </ul>
                    <p class="footer-social">
                        <a href="https://github.com/flatlogic/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        <a href="https://twitter.com/reactnativestarter/" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="https://www.linkedin.com/company/flatlogic/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                        <a href="https://www.facebook.com/pages/flatlogiccom/419236814882166" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-basement">
            <div class="container">
                <div class="d-flex justify-content-between flex-wrap">
                    <span class="copyright mr">&copy; 2018 Sing App. All rights reserved.</span>
                    <div>
                        <a href="#" class="mr-sm">Privacy policy</a>
                        <a href="#">Terms of Use</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  {{/content}} 
  {{#content "scripts"}}
    <script src="../../bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../js/landing.js"></script>
  {{/content}}
{{/extend}}