{{#extend "layout" title="Sing App Dashboard - Bootstrap 4 Admin Dashboard Template"}}
{{#content "sidebar"}}
{{> sidebar active="dashboard_analytics"}}
{{/content}}
{{#content "content" mode="replace"}}
<ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
<h1 class="page-title">
    Dashboard
    <small>
        <small>Company Performance</small>
    </small>
</h1>
<div class="analytics">
</div>
{{/content}}
{{#content "scripts"}}

<!-- page specific js -->
<script src="../js/dashboard/index.js"></script>
{{/content}}
{{/extend}}