{{#extend "layout" title="Sing App Dashboard - Worldwide Visits"}}
{{#content "sidebar"}}
{{> sidebar active="dashboard_visits"}}
{{/content}}
{{#content "content" mode="replace"}}
<ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">Visits</li>
        </ol>
<h1 class="page-title">Another Page</h1>

{{/content}}
{{#content "scripts"}}

<!-- page specific js -->
<script src="../js/dashboard/visits.js"></script>
{{/content}}
{{/extend}}