{{#extend "layout" title="Sing App Dashboard - Worldwide Visits"}}
{{#content "sidebar"}}
{{> sidebar active="dashboard_visits"}}
{{/content}}
{{#content "content" mode="replace"}}
<ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">Visits</li>
        </ol>
<h1 class="page-title">Another Page</h1>

{{/content}}
{{#content "scripts"}}

<script id="test" src="../../node_modules/underscore/underscore.js"></script>
<script src="../../node_modules/jquery-sparkline/jquery.sparkline.js"></script>
<script src="../../node_modules/d3/d3.min.js"></script>
<script src="../../node_modules/rickshaw/rickshaw.min.js"></script>
<script src="../../node_modules/raphael/raphael.min.js"></script> --}

<script src="../../node_modules/jquery-mapael/js/jquery.mapael.js"></script>
<script src="../../node_modules/jquery-mapael/js/maps/usa_states.js"></script>
<script src="../../node_modules/jquery-mapael/js/maps/world_countries.js"></script>
<script src="../../node_modules/bootstrap_calendar/bootstrap_calendar/js/bootstrap_calendar.min.js"></script>
<script src="../../node_modules/jquery.animate-number/jquery.animateNumber.min.js"></script>
<!-- page specific js -->
<script src="../js/dashboard/visits.js"></script>
{{/content}}
{{/extend}}